html {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: url('backgrou.png') 0px 75px repeat-x;
}
img  {
	border: 0;
}
body, td, th, input, select, textarea, option, optgroup {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
a, a:visited {
	color: #003366;
	cursor: pointer;
}
form {
	margin: 0;
	padding: 0;
}
#header {
	height: 30px;
	background: #000000 url('header00.png');
	border-bottom: 2px solid #DEE57B;
}
#header .div1 {
	/*width: 1024px;
	position: relative;
	left: 50%;
	margin-left: -512px;*/
}
#header .div2 {
	font: bold 16px Arial, sans-serif;
	color: #FFFFFF;
	margin: 5px 0px 0px 0px;
	float: left;
}
#header .div3 {
	color: #999999;
	margin: 7px 0px 0px 0px;
	float: right;
}
#header .div3 b {
	color: #FFFFFF;
}
#header .div3 a, #header .div3 a:visited {
	color: #FFFFFF;
}
#menu {
	background: #303F4A;
	height: 40px;
	border-top: 2px solid #849721;
	border-bottom: 1px solid #FFFFFF;
	position: relative;
	z-index: 1;
}
#nav {
	width: 1024px;
	position: relative;
	left: 50%;
	margin: 0;
	padding: 0;
	margin-left: -512px;
	clear: both;
	height: 40px;
	float: left;
}
#nav ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	background: #4A6275;
}
#nav a {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px;
}
#nav .top, #nav li li.sfhover {
	padding: 17px 0px 9px 0px;
	margin-right: 5px;
	width: 100px;
	text-align: center;
	background: url('tab_1000.png') bottom no-repeat;
	color: #C2D4DD;
}
#nav ul li {
	color: #FFFFFF;
}
#nav .selected .top {
	background: url('tab_2000.png') bottom no-repeat;
	color: #333333;
}
#nav .selected:hover a.top, #nav .sfhover a.top {
}
#nav .parent {
	background: url('arrow_ri.png') 95% center no-repeat;
}
#nav li {
	float: left;
	list-style: none;
        margin-left: 4px;  
}
#nav li ul {
	position: absolute;
}
#nav li li {
	clear: both;
}
#nav li ul a {
	height: 15px;
	width: 220px;
}
#nav li ul ul {
	margin: -25px 0 0 140px;
}
#nav li li:hover, #nav li li.sfhover {
	background: #B2C8D1;
	color: #333333;
}
#container {
	min-height: 350px;
	width: 1050px;
	position: relative;
	left: 50%;
	margin-left: -525px;
}
#column_left {
	width: 13px;
	height: 264px;
	float: left;
	background: url('column_l.png') no-repeat;
}
#column_right {
	width: 13px;
	height: 264px;
	float: left;
	background: url('column_r.png') no-repeat;
}
#content {
	width: 994px;
	float: left;
	padding: 10px 15px 15px 15px;
	background: #FFFFFF;
}
#footer {
	clear: both;
	width: 1024px;
	height: 50px;
	padding-top: 10px;
	position: relative;
	left: 50%;
	margin-left: -512px;
	text-align: center;
	background: #303F4A url('footer00.png') bottom no-repeat;
}
#footer a {
	color: #FFFFFF;
	text-decoration: underline;
}
.breadcrumb {
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.heading {
	height: 30px;
	margin-bottom: 15px;
	clear: both;
}
.heading h1 {
	color: #333333;
	float: left;
	font-size: 24px;
	font-weight: normal;
	margin: 0px;
}
.buttons {
	float: right;
	margin-right: 20px;
}
.button {
	display: inline-block;
}
.buttons .button {
	margin-left: 5px;
}
.button .button_left {
	width: 30px;
	height: 30px;
	display: block;
	float: left;
}
.button .button_middle {
	background: url('button_m.png') repeat-x;
	padding-top: 8px;
	padding-bottom: 8px;
	display: block;
	float: left;
	color: #333333;
}
.button .button_right {
	width: 15px;
	height: 30px;
	background: url('button_r.png') no-repeat;
	display: block;
	float: left;
}
.button .button_insert {
	background: url('button_i.png') no-repeat;
}
.button .button_delete {
	background: url('button_d.png') no-repeat;
}
.button .button_save {
	background: url('button_s.png') no-repeat;
}
.button .button_cancel {
	background: url('button_c.png') no-repeat;
}
.button .button_send {
	background: url('button_t.png') no-repeat;
}
.button .button_back {
	background: url('button_b.png') no-repeat;
}
.button .button_login {
	background: url('button_l.png') no-repeat;
}
.button .button_restore {
	background: url('button_t.png') no-repeat;
}
.button .button_backup {
	background: url('button_b.png') no-repeat;
}
.button .button_invoice {
	background: url('button_j.png') no-repeat;
}
.button .button_print {
	background: url('button_p.png') no-repeat;
}
.success {
	padding: 5px 0px;
	margin-bottom: 15px;
	background: #E4F1C9;
	border: 1px solid #A5BD71;
	font-size: 11px;
	text-align: center;
}
.warning {
	padding: 5px 0px;
	margin-bottom: 15px;
	background: #FFDFE0;
	border: 1px solid #FF9999;
	font-size: 11px;
	text-align: center;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	color: #FF0000;
	padding-top: 3px;
	display: block;
}
.help {
	color: #999;
	display: block;
	font-size: 11px;
}
.tooltip {
	border: 1px solid #FDDA5C;
	background: #FBFF95;
	padding: 5px;
	font-size: 11px;
}
.preview img {
	border: 3px solid #EEEEEE;
	background: #FFFFFF;
	padding: 1px;
	margin: 3px 0px 1px 0px;
}
.green {
	background: #E4F1C9;
	width: 100%;
	margin-bottom: 15px;
	padding: 3px;
	border-collapse: collapse;
}
.green td {
	padding: 8px;
}
#navigation {
	padding: 8px;
	background: #E7EFEF;
	margin-bottom: 15px;
}
#navigation select {
	margin: 0;
	padding: 0;
}
.list {
	width: 974px;
	//background: #303F4A url('top_1000.png') no-repeat;
	border: 1px solid #CCC;
	background: #F5F5F5;
	padding: 4px;
}
.page .list {
	background: #303F4A url('top_2000.png') no-repeat;
}
.list input, .list select {
	padding: 0;
	margin: 5px 0px;
}
.list thead td {
	color: #FFFFFF;
	padding: 0px 5px;
}
.list thead td a {
	text-decoration: none;
	color: #FFFFFF;
}
.list a {
	text-decoration: underline;
}
.list td {
	vertical-align: middle;
	padding: 0px 5px;
}
.list tr.even {
	background: #FFFFFF;
}
.list tr.odd td {
	background: #303F4A;
	color: #FFFFFF;
	border: 0px;
}
.list div.odd
{
  background: #303F4A;
  color: #FFFFFF;
  border: 0px;
}
.list .left {
	text-align: left;
	padding: 9px;
}
.list .right {
	text-align: right;
	padding: 9px;
}
.list .center {
	text-align: center;
	padding: 9px;
}
.list .asc {
	padding-right: 15px;
	background: url('asc00000.png') right center no-repeat;
}
.list .desc {
	padding-right: 15px;
	background: url('desc0000.png') right center no-repeat;
}

.tabs_a {
	display: block;
	width: 100%;
	margin-bottom: 0px;
}
.tabs_a a {
	float: left;
	display: block;
	padding: 6px 15px 7px 15px;
	margin-right: 2px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF;
	color: #000000;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	position: relative;
	top: 1px;
}
.tabs_a a.selected {
	background: #F5F5F5;
	border-bottom: 0px;
	padding-bottom: 8px;
}

.tabs_a_page {
	border: 1px solid #CCC;
	background: #F5F5F5;
	display: inline-block;
	padding: 10px;
	display: block;
	width: 954px;
	clear: both;
	z-index: -1;
	vertical-align: top;
}

.filter {
	background: #F8F8F8;
}
.filter > td {
	border-bottom: 1px solid #EEEEEE;
}
.pagination {
	margin-top: 30px;
	border-top: 1px solid #EEEEEE;
	background: #F8F8F8;
	display: inline-block;
	width: 100%;
}
.pagination .links, .pagination .results {
	padding: 9px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	border: 1px solid #CCCCCC;
	padding: 4px 7px;
	text-decoration: none;
	color: #000000;
}
.pagination .links b {
	border: 1px solid #CCCCCC;
	padding: 4px 7px;
	text-decoration: none;
	color: #000000;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
}
.tabs {
	background: #303F4A url('top_1000.png') top no-repeat;
	height: 40px;
	padding-left: 10px;
}
.tabs a {
	padding: 17px 0px 9px 0px;
	margin-right: 5px;
	width: 100px;
	text-align: center;
	text-decoration: none;
	background: url('tab_1000.png') bottom no-repeat;
	color: #C2D4DD;
	display: block;
	float: left;
}
.tabs a.selected {
	color: #333333;
	background: url('tab_3000.png') bottom no-repeat;
}
.page {
	min-height: 300px;
	padding: 15px;
	background: #F8F8F8;
	border-bottom: 1px solid #EEEEEE;
}
.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 15px;
}
.form td {
	padding: 5px;
	vertical-align: top;
}
.scrollbox {
	border: 1px solid #CCCCCC;
	width: 350px;
	height: 100px;
	background: #FFFFFF;
	overflow-y: scroll;
}
.scrollbox div {
	padding: 3px;
}
.scrollbox div input {
	margin: 0px;
	padding: 0px;
	margin-right: 3px;
}
.scrollbox div.even {
	background: #FFFFFF;
}
.scrollbox div.odd {
	background: #E4EEF7;
}
/* Preview Image */
#preview {
	text-align: center;
}
#preview img {
	border: 3px solid #EEEEEE;
	padding: 1px;
}
/* Pages */
#login {
	margin-top: 50px;
	width: 344px;
	position: relative;
	left: 50%;
	margin-left: -172px;
}
#login table {
	width: 100%;
}
#login table td {
	padding: 10px;
}
#login .warning {
	margin-top: 0px;
	margin-bottom: 0px;
	border-left: 0;
	border-right: 0;
	border-top: 0;
}
#login .div1 {
	background: #303F4A url('login_to.png') top no-repeat;
	padding: 10px;
	color: #FFFFFF;
}
#login .div2 {
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	background: #F7F7F7;
}
#login .div3 {
	background: #F7F7F7 url('login_bo.png') bottom no-repeat;
	height: 5px;
}
#default #report1 {
	float: left;
	display: inline-block;
	width: 45%;
	height: 200px;
}
#default #report2 {
	float: right;
	display: inline-block;
	width: 45%;
	height: 200px;
}
#order {
	border-top: 1px solid #CDDDDD;
}
#order table {
	border-collapse: collapse;
	border-left: 1px solid #E5E5E5;
	width: 100%;
}
#order table td {
	padding: 5px;
	background:  #FFFFFF;
	border-right: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
}
#order table thead td {
	background: #303F4A;
	color: #FFFFFF;
}
#option {
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}
#option table {
	border-collapse: collapse;
	width: 100%;
}
#option td {
	padding: 5px;
	border-bottom: 1px solid #CCCCCC;
}
.option {
	background: #DDDDDD;
}
.option_value {
	background: #EEEEEE;
}
.option_add {
	background: #FFFFFF;
	padding: 5px;
	border-bottom: 1px solid #CCCCCC;
	text-align: right;
}
.add {
	color: #000;
	display: inline-block;
	padding-right: 20px;
	background: url('add00000.png') right center no-repeat;
}
.remove {
	color: #000;
	display: inline-block;
	padding-right: 20px;
	background: url('delete00.png') right center no-repeat;
}


.menu_grey {
clear:both;
left:30px;
//position:relative;
top:1px;
z-index:10;
height: 20px;
}

.menu_grey a.selected {
background:none repeat scroll 0 0 #FFFFFF;
padding-bottom:8px;
}

.menu_grey a {
background:url("tab.png") repeat-x scroll 0 0 #FFFFFF;
border-left:1px solid #DDDDDD;
border-right:1px solid #DDDDDD;
border-top:1px solid #DDDDDD;
color:#000000;
font-family:Arial,Helvetica,sans-serif;
font-size:13px;
font-weight:bold;
margin-right:2px;
padding:6px 15px 7px;
text-align:center;
text-decoration:none;
}



.zagolovok
{
  color:#FFFFFF;
  background-color: #333333;
  font-family:Verdana,Arial,Helvetica,sans-serif;
  font-size:12px;
}

.lic
{
 list-style: none;
}

tr.gridline:hover {background: #f5f0bb;}

.list .left .name
{
  width: 400px;
  float: left;
  padding: 0px;
}